:root{
    --color-1: #0A0C1B;
    --color-2: #B569E3;
    --color-3: #1C1938;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-1);
}

.conteudo{
    background: var(--color-3);
    width: 77vw;
    max-width: 910px;
    height: 400px;
    color: #ffffff;
    box-shadow: 0px 0px 5px #B569E3;
    transition: .2s ;
    margin: auto;
    margin-top: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.texto {
    padding-left: 10px;
    padding-top: 20px;
}

.texto span{
    color: var(--color-2);
}

.texto-numeros{
    display: flex;
    text-align: center;
    
}

.texto-numeros-unidade{
    margin-right: 20px;
    margin-top: 40px;
}

p{
    color: #979595;
}

h2{
    margin-bottom: -10px;
}

img{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--color-2);
    filter: opacity(0.4) drop-shadow(0 0 0 #B569E3);
}

.referencia{
    color: var(--color-2);
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

@media (max-width: 1000px){
    .conteudo{
        display: flex;
        height: 800px;
        width: 90vw;
        padding-top: -50px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 20px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .texto-numeros{
        display: contents;
    }

    .texto{
        padding-left: 0px;
        padding-top: 0px;
    }

    .top-h2{
        margin-top: 50px;
    }

    .botton-p{
        margin-bottom: 40px;
    }

    img{
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        height: 40vh;
        
    }
}



